PORT=3100
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/CitySaarthi?retryWrites=true&w=majority
MONGO_DB_NAME=CitySaarthi
MONGO_COLLECTION_LIVE=live_tracking
MONGO_COLLECTION_ROUTES=routes
MONGO_COLLECTION_STOPS=stops
ALLOWED_ORIGIN=*